html,
body {
  box-sizing: border-box;
  margin: 0;
  background-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.overlay-wrapper {
  padding: 1rem;
  max-width: calc(40vw * var(--keymap-size));
  width: calc(40vw * var(--keymap-size));
  min-width: 400px;
}

.overlay-wrapper div {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  & svg {
    opacity: var(--keymap-opacity);
    width: 100%;
    height: 100%;
  }
  & svg rect {
    fill: var(--keymap-fill-color);
    stroke: color-mix(in srgb, var(--keymap-fill-color) 70%, white 30%);
  }

  & svg text {
    fill: var(--keymap-text-color);
  }
}

.overlay-empty-state {
  margin: 2rem;
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  border: 4px solid white;
  border-radius: 25px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
